{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <title></title>
  </head>
  <header>
    <ul>
      <li>
        <img src="https://www.freeiconspng.com/uploads/movie-icon-2.png" alt="Movie" height=50px>
      </li>
      <li>
        <a href="{% url 'movieList' %}">MovieRater</a>
      </li>
    </ul>
  </header>
  <body>
    <form method="POST">
      {%csrf_token%}
      {{form}}
      <button type="submit">LogIn</button>
    </form>
  </body>
</html>
