{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <title></title>
  </head>
  <header>
    <ul>
      <li>
        <img src="https://www.freeiconspng.com/uploads/movie-icon-2.png" alt="Movie" height=50px>
      </li>
      <li>
        <a href="http://127.0.0.1:8000/main/list/">MovieRater</a>
      </li>
      <li>
        <a href="http://127.0.0.1:8000/main/add/">Add New Movie</a>
      </li>
    </ul>
  </header>
  <body>
    <h1>Movie List:</h1>
    {%for movie in movies%}
      <div>
          <h2>{{movie}}</h2>
        <details>
          <summary>More...</summary>
          <h3>{{movie.imdbRating}}</h3>
          <p>{{movie.description}}</p>
        </dedetails>
      </div>
      <li>
        <a href="http://127.0.0.1:8000/main/edit/{{movie.id}}">Edit</a>
      </li>
          {%endfor%}
  </body>
</html>
