{%extends 'main.html'%}

{% block title %} Movie List {% endblock %}

{% block body %}
  {%for movie in movies%}
    <div class="card">
      <div class="card-body">
        <img src="/media/{{movie.photo}}">
        <div class='row'>
          <div class="col-sm-6">
            <h5 class="card-title">{{movie}}</h5>
          </div>
          <div class="col-sm-4">
            <h6>Rating: {{movie.imdbRating}}</h6>
          </div>
          <div class="col-sm-2">
            <a href="{% url 'editMovie' movie.id %}"><i class="far fa-2x fa-edit"></i></a>
            <a href="{% url 'deleteMovie' movie.id %}"><i class="far fa-2x fa-trash-alt"></i></a>
          </div>
        <div class='row'>
          <div class="col-sm-10">
          <p class='desc'>{{movie.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%endfor%}
{% endblock %}
